<h1>Hello, My name is <%= @user.username %>!</h1>
<h3>Welcome to my travel page</h3>
<!-- <div id="articles" data-article="<%= @user.address %>">Loading news from your hometown now...</div>  -->

<%= button_to "Add Post" , new_post_path, class: "btn btn-primary" %>
<% if @current_user.admin? %>
  <%= button_to 'Add City', new_city_path, class: "btn btn-primary" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <h4>Check out my blog posts</h4>
      <ul id="postdisplay">
        <% @posts.each do |post| %>
          <li>
          <%= link_to post.title, post_path(post), class: 'post_link' %>
          <%= pluralize post.liked_by.count, 'like' %>.
          </li>
        <% end %>
      </ul>
      <%= cl_image_tag @user.image %>
    </div>


  <div class="col-sm-6">
   <h4>News from my hometown, <%= @user.address %></h4>
   <div id="articles" data-article="<%= @user.address %>">Loading now...</div>
   </div>
 </div>
</div>
