<% if flash[:errors] %>
  <strong>Please correct the following errors:</strong>
  <ol>
    <% flash[:errors].each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ol>
<% end %>
<div id="content_body">
<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <%= f.label :title, 'Title :'%>
  <%= f.text_field :title, class: :field%>
  <br>
  <%= f.label :content, 'Description :'%>
  <%= f.text_field :content, class: :field%>
  <br>
  <%= f.label :city_id, 'City :' %>
  <%= f.select :city_id, City.pluck(:name, :id), include_blank: true , class: :field, selected: params[:city_id] %>
  <br>
  <%= f.label :address, 'Address :'%>
  <%= f.text_field :address, class: :field%>
  <br>
  <%= f.label :image, 'Image :'%>
  <%= f.cl_image_upload :image, class: :field%>
  <br>
  <%= f.submit%>
<% end %>
</div>
