  <h1><%= @post.title%></h1>
  <% if @is_admin %>
  <%= link_to "Edit", edit_post_path(@post), class: "edit_link"%>
  <%= link_to "Delete", post_path(@post), class: "edit_link", method: :delete%>
  <% end %>
  <div class="content_box">
        <div class="image_show">
          <% if @post.image.present? %>
            <%= cl_image_tag @post.image %>
          <% else %>
            <%= cl_image_tag "no_image.png" %>
          <% end %>
        </div>
        <%= @post.content%>
  </div>
  <% if @post.city.photos.any? %>
    <div class="content_box">
      <div id="slideshow">
        <% @post.city.photos.each do |p| %>
          <div class="content_box">
            <%= cl_image_tag p.image, {class: "slideshow_images"} %>
          </div>
        <% end  %>
      </div>
    </div>
  <% end %>

  <div>
      Comments:
      <%= text_area_tag id="txt_area_comments" %>
      <%= submit_tag 'Post', id: :btn_comment%>
  </div>
  <div id="comments_div">
  </div>
  <script>
  const postId = <%= @post.id %>;
  </script>
