  <h1><%= @post.title%></h1>
  <% if @is_admin %>
  <%= link_to "Edit", edit_post_path(@post)%>
  <%= link_to "Delete", post_path(@post), method: :delete%>
  <% end %>
  <div class="content_box">
        <div class="image_show">
          <% if @post.image.present? %>
            <%= cl_image_tag @post.image %>
          <% else %>
            <%= cl_image_tag "no_image.png" %>
          <% end %>
        </div>
        <%= @post.content%>
  </div>
