  <h1 class="post_title"><%= @post.title%></h1><strong>
    <br>
    <span>By:&nbsp;&nbsp;</span></strong><%= link_to @post.user.username, user_path(@post.user) %>&nbsp;&nbsp;
  <i id="btn_like" class="fa fa-thumbs-<%=  @current_user.liked_posts.include?( @post ) ? 'down' : 'up' %>"></i>

    <span id="span_likes"><%= @post.liked_by.count %> </span>
  <% if @current_user.present? && @post.user == @current_user %>
  <%= link_to "Edit", edit_post_path(@post), class: "edit_link"%> |
  <%= link_to "Delete", post_path(@post), class: "edit_link", method: :delete%>
  <% end %>

  <div class="content_box">
  <% if @post.image.present? %>
    <%= cl_image_tag @post.image, class: 'header_image' %>
  <% else %>
    <%= cl_image_tag "no_image.png" %>
  <% end %>
<br> <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6">

        <%= @post.content%>
      </div>

        <div class="col-sm-6">
          <div id="map"> </div>
          <br>
          <div>
              Comments:
              <%= text_area_tag id="txt_area_comments" %>
              <%= submit_tag 'Post', id: :btn_comment%>
          </div>
          <div id="comments_div">

          </div>
        </div>
          </div>
        </div>
</div>


  <script>
  const postId = <%= @post.id %>;
  const userId = <%= @current_user.id %>;
  </script>

  <script>
        function initMap() {
          var myLatLng = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
          });
          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: "<%= @post.title %>"
          });
        }
  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ0a73hhDIswEV4mTLGjmLIx4oHHFUelM&callback=initMap">
      </script>
