<h1><%= @city.name%></h1>
<% if @is_admin %>
<%= link_to "Edit", edit_city_path(@city), class: "edit_link"%> |

<%= link_to "Delete", city_path(@city), class: "edit_link", method: :delete %>
<% end %>



<div class="content_box">
  <div class="image_show">
    <% if @city.image.present? %>
      <%= cl_image_tag @city.image %>
    <% else %>
      <%= cl_image_tag "no_image.png" %>
    <% end %>
  </div>

  <%= @city.bio%>
</div>

<% if @city.photos.any? %>
  <div class="content_box">
    <div id="slideshow">
      <% @city.photos.each do |p| %>
        <div class="content_box">
          <%= cl_image_tag p.image, {class: "slideshow_images"} %>
        </div>
      <% end  %>
    </div>
  </div>
<% end %>
