<h1><strong><%= @city.name%></strong></h1>
<%= link_to "Edit", edit_city_path(@city), class: "edit_link"%> |
<%= link_to "Delete", city_path(@city), class: "edit_link", method: :delete %>

<% if @city.photos.any? %>
  <div class="content_box">
    <div id="slideshow">
      <% @city.photos.each do |p| %>
        <div class="slideshow_content_box">
          <%= cl_image_tag p.image, {class: "header_image"} %>
        </div>
      <% end  %>
    </div>
<% end %>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div>
          <%= @city.bio%>
        </div>
        <br>
        <div><h4><strong>Blog Posts about this beautiful city:</strong></h4>
          <% @city.posts.each do |post| %>
            <li class='citypost'>
            <%= link_to post.title, post_path(post) %>
            </li>
          <% end %>
        </div>
    </div>

    <div class="col-xs-6 col-sm-6">
      <div id="map"> </div>
    </div>

  </div>

</div>
</div>

<script>
  function initMap() {
    var bounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map(document.getElementById('map'),{
      zoom: 3,
      center: bounds
    });
    // getting posts lat, lng, name from instance variable
    var posts = <%= @posts.map{ |p| {lat: p.latitude, lng: p.longitude, name: p.title, id: p.id } }.to_json.html_safe %>;
    // looping over products to make marker for each product
    for(let i=0; i < posts.length; i++)
    {
      var marker = new google.maps.Marker({
        position: posts[i],
        map: map,
        title: posts[i].name
      });
      var contentString = '<div id="content">'+ `<a href="http://localhost:3000/posts/${posts[i].id}">${posts[i].name}</a>` +'</div>';
      var infowindow = new google.maps.InfoWindow();
      google.maps.event.addListener(marker, 'click', function(contentString){
      return function(){
        infowindow.setContent(contentString);
        infowindow.open(map, this);
      }
    }(contentString));
      bounds.extend(marker.position);
    }
    map.fitBounds( bounds );
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ0a73hhDIswEV4mTLGjmLIx4oHHFUelM&callback=initMap">
    </script>
