

<div class="content_box">

    <div id="city_title_container">
      <h1 class="city_heading"><strong><%= @city.name%></strong></h1>
      <% if @current_user.present? && @current_user.admin? %>
        <%= button_to "Edit", edit_city_path(@city), class: "btn btn-primary city_edit"%>
        <%= button_to "Delete", city_path(@city), class: "btn btn-danger city_delete", method: :delete %>
      <% end %>
      <%= button_to 'Add Post',
         new_post_path,
         method: :get,
         params: {city_id: @city.id},
         class: 'btn btn-primary city_post'
      %>
    </div>


    <div id="slideshow">

    <% if @city.photos.any? %>
          <% @city.photos.each do |p| %>
            <div class="slideshow_content_box">
              <%= cl_image_tag p.image, {class: "header_image"} %>
            </div>
          <% end  %>

    <% end %>
  </div><!-- #slideshow -->

<br><br>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div>
          <%= @city.bio%>
        </div>
        <br>
        <div><h4><strong>Blog Posts about this beautiful city:</strong></h4>
          <% @city.posts.each do |post| %>
            <li class='citypost'>
            <%= link_to post.title, post_path(post) %>
            </li>
          <% end %>
        </div>
    </div>

    <div class="col-xs-6 col-sm-6">
      <div id="map"> </div>
    </div>

  </div>

</div>
</div>

<script>
  function initMap() {
    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();
    var map = new google.maps.Map(document.getElementById('map'),{
      zoom: 3,
      center: bounds
    });
    // getting posts lat, lng, name from instance variable
    var posts = <%= @posts.map{ |p| {lat: p.latitude, lng: p.longitude, name: p.title, id: p.id } }.to_json.html_safe %>;
    // looping over products to make marker for each product
    for(let i=0; i < posts.length; i++)
    {
      var post = posts[i];
      var marker = new google.maps.Marker({
        position: post,
        map: map,
        title: post.name,
        info: `<div id="content"><a href="/posts/${post.id}">${post.name}</a></div>`
      });
      google.maps.event.addListener(marker, 'click', function(){
        infowindow.close(); // Close previously opened infowindow
        infowindow.setContent( this.info );
        infowindow.open(map, this );
      });

      bounds.extend(marker.position);
    }
    map.fitBounds( bounds );
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ0a73hhDIswEV4mTLGjmLIx4oHHFUelM&callback=initMap">
    </script>
