<!DOCTYPE html>
<html>
  <head>
    <title>TravelMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>


  </head>
  <body class="<%= controller_name %> <%=  action_name %>">
    <div class="wrapper">

        <div id="menu">
          <!-- <span class="menu"></span> -->
        </div>
        <div class="content_body">
          <%= yield %>
        </div>

        <div class="overlay">
            <ul>
              <li>
              <% if @current_user.present?%>
                  <%= link_to "Welcome, " + @current_user.username, "/profile" %>
                  <% else %>
                  <%= link_to 'Login', login_path%> /
                  <%= link_to 'Sign Up', new_user_path %>
              <% end %>
              </li>
              <li>
                <%= link_to 'Home', pages_path %>
              </li>
              <li>
                  <%= link_to 'Destinations', cities_path%>
              </li>

              <li>
                  <%= link_to 'Blog Posts', posts_path%>
              </li>

              <% if @current_user.present?%>
              <li>
                  <%= link_to 'Logout', login_path, method: :delete%>
              </li>
              <% end %>
            </ul>
        </div>

        <div class="footer">Project 2 for WDI 27. By Anna Tran & Bhagavathi Chirra.
        </div>
  </div>

</body>
</html>
